body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.Btn_add{
    width: fit-content;
    margin-bottom: 20px;
    background-color: blue;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;



}
.Btn_add img{
    margin-right: 5px;
    height: 20px;
}
table{
    border-collapse: collapse;
    color: #404040;
}
th{
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500px;

}
td{
    font-weight: 400px;
    padding: 5px 30px;
    font-size: 14px;
}
img{
    height: 25px;
}
.form{
    background-color: #f6f8f8;
    padding: 25px;
    border-radius: 6px;
    
}
.form form{
    display: flex;
    width: 350px;
    flex-direction: column;
}
.back_btn{
    color: #ffcb61;
    text-decoration: 0;
    display: flex;
    align-items: center;
}
label{
    margin-top: 5px;

}
input{
    padding: 5px;
    border: 1px solid #999;
    outline: 0;
    margin-top: 2px;
}

input[type="submit"]{
    margin-top: 25px;
    background-color: aquamarine;   
}
